service fastbootd /system/bin/fastbootd
    class main
    user root
    group root system shell
    seclabel u:r:fastbootd:s0
    disabled
    oneshot

on property:sys.fastbootd=1
    start fastbootd

on property:sys.usb.config=fastboot
    start fastbootd
